<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>{{ city }} időjárása</title>
</head>
<body>
    <div><h1 class="big_text">Időjárás ellenőrző</h1></div>
    <form>
        <div><label for="city">{{ city }}i időjárás: </label></div>
        <div>{{ celsius }}° C</div>
        <input type="submit" value="Vissza" class="search2">
    </form>
</body>
</html> 
